# The service name in UI
# ${service name} = [${group name}::]${logic name}
# The group name is optional only.
agent.service_name=my-spring-boot-app

# Set the gRPC server address of the SkyWalking OAP (Observability Analysis Platform)
collector.backend_service=172.31.4.227:11800

# The agent namespace
agent.namespace=${SW_AGENT_NAMESPACE:}

# The agent cluster
agent.cluster=${SW_AGENT_CLUSTER:}

# The number of sampled traces per 3 seconds
# Negative or zero means off, by default
agent.sample_n_per_3_secs=${SW_AGENT_SAMPLE:-1}

# Authentication active is based on backend setting, see application.yml for more details.
#agent.authentication=${SW_AGENT_AUTHENTICATION:}
# Add this to your agent.config file
logging.level: debug
